.allergen-container {
    margin: 5px 0;
    display: flex;
    flex-direction: column;
}

 
.allergen-ingredients,
.allergen-traces {
      margin-left: 10px;
    display: block;
}

.allergen-item {
    text-align: left;
    width: auto;
    position: relative; /* necesario para el posicionamiento absoluto del tooltip */
    margin: 10px 0px 0px 0px;
    display: inline-block;
}

.allergen-image {
    max-width: 32px;
    max-height: 32px;
    margin-right: 5px;
    display: inline-block;
    cursor: pointer;
}

.allergen-item img {
    max-width: 32px;
    max-height: 32px;
    margin-right: 5px;
    display: inline-block;
    cursor: pointer;
}

.allergen-text {
    font-size: 0.75em;
}

.allergen-tooltip {
    visibility: hidden;
    opacity: 0;
    width: max-content;
    max-width: 150px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px 8px;
    position: absolute;
    z-index: 10;
    bottom: 110%;
    left: 50%;
    transform: translateX(-50%);
    transition: opacity 0.3s;
    font-size: 0.75em;
}

.allergen-item:hover .allergen-tooltip {
    visibility: visible;
    opacity: 1;
}

/* Opcional: Añade una pequeña flecha al tooltip */
.allergen-tooltip::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.8) transparent transparent transparent;
}

.allergen-trace-icon {
    filter: grayscale(100%);
}


.allergen-texto-adicional {

    margin-bottom: 0px;
    font-weight: 400;
    font-size: 10px;
    padding-left: 10px;
    line-height: 5px;
    
}